body {
    margin: 0px;
    padding: 0px;
}

.scene {
    float: left;
    background-color: black;
    width: 100%;
    height: 500px;
}

.grass {
    float: left;
    background-color: rgb(47, 128, 50);
    width: 100%;
    height: 100px;
    color: white;
}

.road {
    float: left;
    background-color: rgb(144, 148, 191);
    width: 100%;
    height: 300px;
}

.ai {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: white;
    margin-top: 50px;
}

.wall {
    position: absolute;
    width: 50px;
    height: 100px;
    background-color: red;
    right: 0px;
}

.sensor1, .sensor2, .sensor3 {
    position: relative;
    background-color: white;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    text-align: center;
}

.sensor1 {
    top: -50px;
    left: 50px;
}
.sensor2 {
    top: -50px;
    left: 100px;
    width: 500px !important;
}
.sensor3 {
    top: -50px;
    left: 50px;
}

.debugArea {
    width: 100%;
    background-color: black;
    float: left;
    height: 100%;
}

.debugTextAreaClass {
    width: 400px;
    height: 150px;
}

.tableDebug {
    width: 100%;
    background-color: #fff;
    color: #000;
}

.tableDebugSmall {
    width: 50%;
    background-color: #fff;
    color: #000;
}
